*{padding:0; margin:0;}
body{background:#000; font-size:16px; font-family:"SimHei", Arial, Helvetica, sans-serif; padding:10px 30px; }
.enterBlock{
    margin: 0 auto;
    li{margin-bottom: 10px;}
    li>*{display: inline-block; vertical-align: top; color:#f1f1f1; line-height: 26px; box-sizing: border-box;}
    .userName{width: 40px; line-height: 30px;}
    .pw{width: 200px; text-indent: 5px; color: #000;}
    .goBtn{border: #f1f1f1 1px solid; background: #333; padding: 3px; line-height: 20px; cursor: pointer;}
}
.dataFalls{
    li{ 
        margin-bottom: 20px;
        p{color: #999; padding-left:15px; line-height:24px;}
        p:nth-child(1){color:#fff; font-size:18px; padding-left:0; list-style: circle;}
    }
}